<h1>JobTrack</h1>

<%= link_to "New Application", "/job_applications/new", class: "btn btn-primary btn-lg" %>

<!--<button type="button" class="btn btn-primary btn-lg">New Application</button>-->

<% if current_user %>
  <p>You are signed in as <%= current_user.email_address %></p>
<% else %>
  <p>You are not signed in</p>
<% end %>



<!--For each application that a user has-->
<!--List them in order here-->
<% if current_user %>
  <ul class="list-group">
    <% current_user.job_applications.each do |application| %>
      <li class="list-group-item">
        <%= application.description.job_title %>
        — applied on
        <%= application.application_date.strftime("%b %-d, %Y") %>
      </li>
    <% end %>
  </ul>
<% end %>
