<div class="container">

<h1>JobTrack</h1>

<%= link_to "New Application", "/job_applications/new", class: "btn btn-primary btn-lg" %>

<!--<button type="button" class="btn btn-primary btn-lg">New Application</button>-->

<% if current_user %>
  <p>You are signed in as <%= current_user.email_address %></p>
<% else %>
  <p>You are not signed in</p>
<% end %>



<!--For each application that a user has-->
<!--List them in order here-->
<% if current_user %>
  <ul class="list-group">
    <% current_user.job_applications.each do |application| %>
      <li class="list-group-item">
        <%= application.description.job_title %>
        — applied on
        <%= application.application_date.strftime("%b %-d, %Y") %>
      </li>
    <% end %>
  </ul>
<% end %>

  <% if current_user%>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td>@social</td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
