<h1>JobTrack</h1>

<button type="button" class="btn btn-primary btn-lg">New Application</button>

<%# if Current.user %>
<!--  <p>You are signed in as <%#= Current.user.email_address %>-->
<%# else %>
<!--  <p>You are not signed in</p>-->
<%# end %>



<!--For each application that a user has-->
<!--List them in order here-->

<ul class="list-group">
  <li class="list-group-item">Application 1</li>
  <li class="list-group-item">Application 2</li>
  <li class="list-group-item">Application 3</li>
  <li class="list-group-item">Application 4</li>
  <li class="list-group-item">Applciation 5</li>
</ul>
