<h1>
  List of all job applications
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new job application
    </h2>
  </header>

  <form action="/insert_job_application" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="application_date_box">
        Application date
      </label>

      <input type="date" id="application_date_box" name="query_application_date">
    </div>

    <div>
      <label for="status_box">
        Status
      </label>

      <input type="text" id="status_box" name="query_status">
    </div>

    <div>
      <label for="description_id_box">
        Description
      </label>

      <input type="text" id="description_id_box" name="query_description_id">
    </div>

    <div>
      <label for="interview_date_box">
        Interview date
      </label>

      <input type="datetime-local" id="interview_date_box" name="query_interview_date">
    </div>

    <button type="submit">
      Create job application
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_job_applications.each do |a_job_application| %>
      <li>
        <a href="/job_applications/<%= a_job_application.id %>">
          Job application #<%= a_job_application.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
