<h1>Application Entry</h1>

<form action="/insert_job_application" method="post">


  <!--Date-->
  <div>

  </div>


  <!--Job Title (in Job Descriptions)-->
  <div>

  </div>


  <!--Company (name in Company model, not in job application)-->
  <div>

  </div>


  <!--What type of job is this? (category in job description) optional-->
  <div>

  </div>

  <!--What's the start date? (start date in the job description) optional-->
  <div>

  </div>

  <!--Application status (defaulting to pending)-->

  <div>

  </div>

</form>

<!--A submit button at the bottom of the page-->
